.header {
  background-color: var(--color-purple-dark);
  padding: 1em;
}

.header-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  height: 3em;
}

@media (width < 640px) {
  .header-logo {
    height: 2em;
  }
}

.header-navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
}

.header-navigation a {
  padding: 0.5em;
  font-family: var(--font-sans-serif);
  color: var(--color-butter);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
}

.header-navigation a:is(:hover, :active, :focus) {
  color: var(--color-yellow-light);
}

.header-navigation a.social {
  font-size: 1.5em;
  padding: 0.25em;
}

.header-navigation a.buy-ticket {
  padding: 0.5em 1em;
  color: var(--color-purple-dark);
  background-color: var(--color-yellow-light);
  font-family: var(--font-sans-serif);
  font-weight: bold;
}

@media (width < 640px) {
  .header-navigation li.hide-on-mobile {
    display: none;
  }
}

.buy-ticket-wrapper a.buy-ticket {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: var(--color-purple-dark);
  background-color: var(--color-yellow-light);
  font-family: var(--font-sans-serif);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

@media (width >= 640px) {
  .buy-ticket-wrapper a.buy-ticket {
    display: none;
  }
}

.header-navigation a.buy-ticket:is(:hover, :active, :focus) {
  background-color: var(--color-butter);
  color: var(--color-purple-dark);
}

.buy-ticket-wrapper a.buy-ticket:is(:hover, :active, :focus) {
  background-color: var(--color-butter);
  color: var(--color-purple-dark);
}

.banner {
  display: flex;
}

.banner img {
  width: 100%;
}

h2 {
  font-size: 42px;
  margin-block: 0.5em;
  text-align: center;
  font-family: var(--font-sans-serif);
  color: var(--color-purple);
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  margin-block: 0.5em;
  text-align: center;
  font-family: var(--font-sans-serif);
  color: var(--color-purple);
  text-transform: uppercase;
}

@media (width < 720px) {
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }
}

section p {
  line-height: 1.75;
}

.section-wrapper {
  padding: 1em;
  padding-bottom: 3em;
}

.section-wrapper.dark {
  background-color: var(--color-butter);
}

.section-inner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.schedule-wrapper {
  --time-column-width: 100px;
}

.schedule-wrapper table {
  width: 100%;
  font-family: var(--font-sans-serif);
  border-collapse: collapse;
}

.schedule-wrapper table.desktop-schedule {
  table-layout: fixed;
}

.schedule-wrapper table.desktop-schedule tr:nth-child(even),
.schedule-wrapper table.mobile-schedule tr:nth-child(odd) {
  background-color: var(--color-butter);
}

.schedule-wrapper table th,
.schedule-wrapper table td {
  width: calc((100% - var(--time-column-width)) / 4);
}

.schedule-wrapper table thead th {
  padding: 0.5em;
  background-color: var(--color-purple-dark);
  color: var(--color-butter-light);
  text-align: center;
}

.schedule-wrapper table tbody th {
  padding: 0.5em;
  text-align: center;
}

.schedule-wrapper table .header-row th {
  padding: 0.5em;
  background-color: var(--color-purple-dark);
  color: var(--color-butter-light);
  text-align: center;
}

@media (width < 720px) {
  .schedule-wrapper table .header-row th {
    font-size: 24px;
  }
}

.schedule-wrapper table tbody td {
  padding: 1em;
  text-align: center;
}

.schedule-wrapper table.mobile-schedule th,
.schedule-wrapper table.mobile-schedule td {
  width: calc(100% - var(--time-column-width));
}

.schedule-wrapper table th:first-child,
.schedule-wrapper table td:first-child {
  width: var(--time-column-width);
}

.schedule-wrapper table tbody td .act {
  font-weight: bold;
}

@media (width >= 920px) {
  .schedule-wrapper table.mobile-schedule {
    display: none;
  }
}

@media (width < 920px) {
  .schedule-wrapper table.desktop-schedule {
    display: none;
  }
}

.map {
  display: flex;
}

.map iframe {
  width: 100%;
  height: 50vh;
  border: 0;
}

.footer {
  background-color: var(--color-purple-dark);
  color: var(--color-butter);
  padding: 1em;
}

.footer-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer address {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  margin-top: 1em;
}

.footer .links nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer .links ul {
  list-style-type: none;
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
}

.footer .links a {
  padding: 0.5em;
  font-family: var(--font-sans-serif);
  color: var(--color-butter);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
}

.footer .links a:is(:hover, :active, :focus) {
  color: var(--color-yellow-light);
}

.footer .links .social a {
  font-size: 1.5em;
  padding: 0.25em;
}

@media (width < 800px) {
  .footer-inner-wrapper {
    flex-direction: column-reverse;
    gap: 2em;
  }

  .footer .links nav {
    align-items: center;
  }

  .footer .links nav ul:not(.social) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .address {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
  }
}
